DJANGO_ENV=local
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
SITE_BASE_URL=http://127.0.0.1:8000

# Logging
# LOG_DIR defaults to <project>/logs if not set
LOG_LEVEL=INFO
DJANGO_LOG_LEVEL=INFO
SECURITY_LOG_LEVEL=INFO
AUDIT_LOG_LEVEL=INFO
LOG_JSON=false

# Feature Flags (true/false)
FF_ADMIN_DASHBOARD=true
FF_TEMPLATE_MANAGEMENT=true
FF_CERTIFICATE_GENERATION=true
FF_BULK_GENERATION=true
FF_CERTIFICATE_MANAGEMENT=true
FF_CERTIFICATE_DETAIL=true
FF_CERTIFICATE_DOWNLOAD=true
FF_PUBLIC_VERIFICATION=true
FF_QR_SCANNER=true
FF_VERIFICATION_API=true
FF_VERIFICATION_ANIMATION=true
FF_LOG_MANAGEMENT=true
FF_INTEGRATION_API=true

POSTGRES_DB=certificate_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
